.image__container-partial {
  position: relative;
  height: 72vh;

  .image {
    height: 100%;
  }
}

.image__container-full {
  position: relative;
  height: 100vh ;
}

.image__container-xl {
  position: relative;
  height: 130vh;

  .image {
    height: 100%;
  }
}