.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15.375rem;
  background-color: $color__neutral;
  padding: 1.9rem 6rem 1.1rem;

  .logo-and-copyright__container {
    display: flex;
    flex-direction: column;
  }

  &__copyright__copy {
    @include caption($color__light);
    opacity: 0.6;
  }


  &__email__copy {
    @include caption($color__light);
  }

  &__social-media__icons__container {
    display: flex;
    width: 12.125rem;
    justify-content: space-between;
  }
}

/* ======================================================== */
/* MEDIA QUERIES */

@include media-down(lg) {

  .footer {
    flex-direction: column;
    height: initial;
    padding: 3rem 0 3.5rem 0;

    // .logo-and-copyright__container {

    //   .footer__copyright__container {

    //     .footer__copyright__copy {
    //       margin: 0.3rem 0 1rem;
    //       text-align: center;
    //     }
    //   }
    // }

    &__copyright__copy {
      margin: 0.3rem 0 1rem;
      text-align: center;
    }

    &__email__copy {
      margin-bottom: .7rem;
    }

    &__social-media__icons__container {
      width: 11.825rem;
    }
  }
}

@include media-down(sm) {

  .footer {

    .logo-and-copyright__container {
      width: 11rem;
    }

    &__social-media__icons__container {
      width: 10.7rem;
    }
  }
}