html {
    scroll-behavior: smooth;
  }

.text-blue {
    color: $color__primary;
};

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.display-block {
    display: block;
}