html {
  scroll-behavior: smooth;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  background-color: $color__light;
}

.text-blue {
  color: $color__primary;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.display-block {
  display: block;
}
