html {
  scroll-behavior: smooth;
  background-color: $color__light;
}

body {
  max-width: 1980px;
  min-width: 300px;
  margin: 0 auto;
  background-color: $color__light;
  box-shadow: 0 0px 100px #97897d;
}

.text-blue {
  color: $color__primary;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.display-block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}
