@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url(../../public/fonts/HelveticaNeueLTStd-BlkCn.otf);
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Regular";
  src: url(../../public/fonts/HelveticaNeueLTStd-Roman.otf);
  font-weight: normal;
  font-style: normal;
}
